{% extends 'base.html' %}

{% block content %}
  <div class="container">

    <!-- Start of Rocket.Chat Livechat Script -->
    <script type="text/javascript">

    host = 'http://localhost:3000';

    (function(w, d, s, u) {
      w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
      var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
      j.async = true; j.src = host + '/packages/rocketchat_livechat/assets/rocketchat-livechat.min.js?_=201702160944';
      h.parentNode.insertBefore(j, h);
    })(window, document, 'script', host + '/livechat');

    RocketChat(function() {
      this.setGuestEmail(window.location.hostname);
    });

    </script>
    <!-- End of Rocket.Chat Livechat Script -->

  </div>

{% endblock %}
